<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @gif.title %>
  <label>Small</label>
    <%= image_tag url_for(@gif.file.variant(resize: "40x40")) %>
  <label>Medium</label>
    <%= image_tag url_for(@gif.file.variant(resize: "80x80")) %>
  <label>Large</label>
    <%= image_tag url_for(@gif.file.variant(resize: "120x120")) %>
  <label>Large</label>
    <%= image_tag url_for(@gif.file.variant(resize: "500x500")) %>
  <ul>
  <% @gif.labels.each do |label| %>
    <li><%= link_to label.name, "/labels/#{label.id}" %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_gif_path(@gif) %> |
<%= link_to 'Back', gifs_path %>
